* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.button {
    font-size: 34px;
    font-weight: 500;
    font-family: monospace;
    color: #fff;
    padding: 20px 40px;
    margin: 30px;
    border-radius: 10px;
    border: none;
    outline: 0px;
    background-color: crimson;
    cursor: pointer;
}

.error-box {
    width: 310px;
    background-color: transparent;
    /* background-color: red; */
    position: fixed;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.error-box .error {
    width: 300px;
    height: 50px;
    display: block;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    justify-content: flex-start;
    border-radius: 10px;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: crimson;

    /* use for hiding error massage */
    transform: translateX(400px);
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
}

.error h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: monospace;
    color: #fff;
}

.error-box .error-show {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

@media (max-width:992px) {

    .error-box {
        width: 250px;
    }

    .error-box .error {
        width: 240px;
        height: 45px;
    }

    .error h1 {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .error-box {
        width: 0px;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.mobile-response-error {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.response-error-show {
    opacity: 0;
    visibility: hidden;
}

@media (max-width:767px) {

    .mobile-response-error {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        display: inline;
        position: fixed;
        bottom: 20px;
        right: 0px;
        transition: opacity .2s ease-in-out,
            visibility .2s ease-in-out,
            transform .2s ease-in-out;
        transform: translateY(20px);

    }

    .mobile-response-error .responsive-error {
        color: red;
        font-family: monospace;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
    }

    .response-error-show {
        height: auto;
        opacity: 1;
        visibility: visible;
        /* transition: transform .3s ease-in-out; */
        transform: translateY(0px);


    }

}